:root {
    --cell-size: 100px;
    --color: #81c3fd; 
    --color-set: #0275d8; 
    --l: 10px; 
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.board {
    width: 100vw;
    height: 45vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto); 
    gap: 0; 
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: #fff;
}

/* X (cross) symbol style */
.cell.x {
    font-size: 4rem;
    font-weight: bold;
    color: #0275d8;
    background-color: black;
}

/* O (circle) symbol style */
.cell.circle {
    border-radius: 50%;
    background-color: #0275d8;
    width: 80%;
    height: 80%;
}

/* Hover effect for unselected cells */
.board.x .cell:not(.circle):not(.x):hover {
    background: linear-gradient(to top right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2), calc(50% + var(--l) / 2) transparent calc(50% + var(--l) / 2))
                linear-gradient(to bottom right, transparent calc(50% - var(--l) / 2), var(--color) calc(50% - var(--l) / 2), calc(50% + var(--l) / 2) transparent calc(50% + var(--l) / 2));
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Winning message styling */
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    flex-direction: column;
    text-align: center;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.scoreboard {
    text-align: center;
    margin-bottom: 20px;
}

.winning-message button {
    margin-top: 20px;
    border-radius: 10px;
    font-size: 2rem;
    background-color: white;
    border: 1px solid var(--color-set);
    padding: 0.25em 0.5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: #0275d8;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}
